[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=MeMailSettings
Exec=/usr/bin/single-instance /usr/bin/memailsettings
Categories=Email;
Icon=/usr/share/icons/hicolor/80x80/apps/email-settings-inverted.png
#X-Window-Icon=
#X-HildonDesk-ShowInToolbar=true
#X-Osso-Type=application/x-executable
