Source: memailsettings
Section: user/misc
Priority: optional
Maintainer: Sergey Kashin  <sergey.don.kashin@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, aegis-builder, libqt4-dev, libaccounts-qt-dev, libqmf-dev
Standards-Version: 3.8.4
Homepage: 

Package: memailsettings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MeMailSettings
 Application can change mail account's settings.
XB-Maemo-Display-Name: MeMailSettings
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCEQ4YNnxyNaQAAB57SURBVHja
 7Z15dB1Xnec/99by9kXWZmuX9y2xsziOExM7gSw4IXEIIQuk4zAzcAgNk2bmMD2cOY0JZ5rmMN2Y
 pemN7tgkQCAhOOA4QAixCdmcxJHssWPHiyRLlq1d70l6eltVzR9Vb9N7sp9sE0JP33Puqad6VXWr
 vu97f/stwX+082ri3Rpo1+2NK4AWYCUQdrY4+1rO8bKdTgdoA0adbef6n3W3/8kCuOvDjSFgPbA+
 abBaV1iT+S6sK6gS/JoEwK0K3ErhbahS4NMK902kLNKmVbAvbljE0/a+8ZRJ2oTRpFFwKw6gu4Bd
 65/qjrxnAfza2tqaK2td9wCbgJWqEIRdEp8mCbskfk2iyHeH7YZpAzqaMJlwtmnLyrB0K2Hf9nX/
 +nbXewLA332kaV3C4FMuhXvcqqTSrVDpVgi55HtKVkUSJkNxg6G4QTxtgiK3Y5hbrnnyxO4/CoAv
 frR5HbAZWB/SJXV+jUq38ich+IfiBv2xNENxIzPNN7/vJ1273xUAf393Syietr7qVsSnQy7JgrCO
 S5H8KbaEYXI8kmI4boAit2KaD619vDPyBwPw93e3rgC2u1XRsqBCJ6gr/Hto0aTBkZEk8bTVCWxc
 +3hH+wUH8KV7W+8Htla6VeaHdf5ESXdGxdMRTdIfSwNsuvqHHdsuGIAvf2zu/cDWxoBGQ0D7d20Y
 n55I0xFJAmy66gfHt503gK98fN79wNZ5YZ1qr/r/hXcxEEtzbNQGcc1jx7adM4Cv3jdvBdDWENCo
 f7eZJ87y21rWH5yJXTYTV1756LH2GQP42v3zQ0BbhVttWTBL/yOCNfU7610D9PhoksFYuhNYuXrb
 0ZLaedo5mbDEV4O6aJk7y3XhHb6SgIm8cUTeMdMAaFn2Z8vZN/WaFwDQ5rCLsZTZMpGyvgJ8rmwG
 7vzYoiuqdOu1xVVuArr8AwGXASwDVh5oQtqfM/unAmhZYJnO1srtywf0AgE5ljQ5NBgHXV1/xT8d
 3F0WA6vdfC2gKwRcyoUHLh+sLFCy8LNUaD89wWjCLGSmBVgmK+f4bVfRNOxuWWAZhcBmQM2MfY5A
 BlwKFV6V0bixGbj2rAx84z8vXgfsWlTpwn++hnJJ4CRICUIBafeuSJLtBwfZdXyUtt4oncOxsi6/
 fn4lK+cEWN8a4rYllXmAGmCahWCeB4hJw2J//yTA+su/d2j3GRmYQnyq0i3xuy8UeKKAWUgFFI1I
 Era+3seWFzvoHIohhYKUGlIouLQQQkgEpcWHaaUBi5c6JnnxeJQtL3YS9mpsWtXAQ1c30hzSwEiD
 mXaAdNiJOCcQdSlsFibNh4Dd0zLw+/dcXLM8mOqbW+EidF4AihyIGcZJFVSdSErw0M/fYfv+00Qn
 DRTpQpE6QpzPeBaGmSRtxjHNNJtWN7H5+laaAwoYKRtMy3AYeQZNfqZoTtzg+EgCvK6WS7/R1lWS
 gctD6XtciiTkUc8PvIxykIoNnKKC6uLLv+lgy+4OxuIWinTh0lwXLKxp/xAuTCvNo6+fYvv+02y5
 fRn3X1IN6YQNpJkBUcwYxJBHxTWWIjGZ3Ah8sySAhhB3hbzqeZgtDnjCkXGKzbquMYuN//Yq+3rG
 0FQvLv1CAVfcFDQUJcRkOskDP2xn17FGHvnoEkgJMJJgcu4gelUGJtOb8gHMQtX258tCWIy2VrgI
 npP2zQPPkXOoLnZ3TbDxX/YwkVTQVZ/9/Vna+5Y30lwToqkmVDyVJhLs6+hnf0cfoxOJszgrBolk
 lPuuqOeRu5ZAKu6AeG7TeSJpcnQ4DoLwyu8ciBQwUAixHgHBc5q+U8HTQXOz7c1+Nn3/DdyuIG7d
 M/0v63Nxy+oF3HLFPG6+vLXYFJlGKe3vGuYHuw6w47WjnOgv4SgIFY87zKN7ToKAR+5emsfEmU9n
 n1tBVSSGZa0Hni4C0KfLs/ug5YK3d4AHHt2Lz1uFItVpgfv0LZfz4IYVttIykpAYc8wRE3u+5T1f
 1vC2tflFdR7+5r41/M2ma/iHZ9v56o9fJjKFlQIFr2cWj+45ycrGMP91bR2kgLQznXG0c5kg+l0K
 0YRREsCVftdM5V+etpUSVA00F+19Kf7iiX34vJXTgrd2WSPf/cwNNFV6IJWA+IQj7JOOCWIUMjDf
 PBLSlq+KDqoOqotP37CEm1fN5WNf38H+jv4ppwh8nkq+/MwhNq6oozngsn8cg5whXmbz6ApjSTOT
 ks0ztCTrfS4l50KV26XzMKoGmpuIobPxn14haXlRFQ0hRFH/9C2XseNLG2kKKRCPQjwCk3k9HnH2
 5/dI8XGTo87xUUiM0xTW2fHlO7h4bm3RmFJKkpaXzc++A5oHVJd931KCFIXu4xm6z6WAZH0BgDs+
 ecliIQS6KmcAnjNwFkAXaB42PbqXvjGBrnsQUhT17/75jXz146shPmY/eD5giTFIxmxhn07Y08xI
 gpGw/07FITUJqRgkJpw+bvfkBCQnCGkmOzbfQfPscNHYuu7hB6920zVm2vcrVVvsiPKf26MrCCH4
 v1+4dEUWwGqv0iSEQFMz8qzcngeg5mJ3R5Rn9vXj8TiexJT+l3eu4Z6rmm2gElGIj9rb5ASkJ8FM
 2VNLwO5jw+w+NsLuYyN0jSSdB8jILBMw7OONJKTjNqipCUjGCOomf//gDSXvweMJseX5o6DpoOYz
 kNwYZ+hS2iJBWHY1hQoQ0Iw1Xl2ZgQLJDKQUTN9N//Zb/L5ZCFl8nQ2Xz+ULty23wUqM2+xJJ2x3
 yzKJxFNsbz/NlueP0XZipOj8liofm9Y086VbFoFlse3Vbra+ciJPKws2rVvM/detAKlw9cJK1i5v
 5KWDPQXX0XQ3O/ad5ht3rywYH1m+r+xzK8RsOfi0avu/qksIZghghn22vbdtz0n6JxS8Xq2EAeri
 O//lffb0y0y3dNxRFPD0vn4e+nE7J4ZjuFx+QqFaVFVHODajkU4yGE/wlZ3vsH3faXb95Y384sAI
 e7pTBeM8XFthszKdAKlwzzULefntk8XR5qhJe+8EK6p1m8FSglm+IlGkREjCWQbq0lzj1dUyAZzC
 PsVm37eeewevN4gocY0vfGQVQd2EeMwGMZ2wf3Uh+PKOwzz8iwN4PEEqK5tKjqhqLlTNhdvt51Df
 MJse2cOrxyP4fOGC41Y0V9rmj5GAtMKGlfV8rsT9aLqbtp4IK+bUQFq1WYjlmE5nb25NMu5oYjUb
 v5QCyo2dCmHLDVUBTaP91ASH+hL4A76iQxurgnzyA/NhMurIuYQtv6Rg26s9fGXHIcIVc1BVvYyf
 TiEYqmZnWy9utx+3R+T5qhrBgNux70wwEwTdGk01QboHx6YA6KJzaMIWPaoCpsgRowzD2lZKeb6w
 kGqNImUZSbr8iLEC0p6+W186iM8XKsm+u69ZYNt5qbi9NU0QCu0nJ/jEv+6hsrIeqczM+wmFqrP2
 XTYQ0jzL1omZOKBIgpKiqTpAz9B40TViadXWwij2s2CUm+VFUyRCypwSEcJc6tI1m1XlyD4hbQ3m
 GM7PtJ9CUUMlz7h7TYs9pcwEkLbvUdF46Ed7CVfMRinBvOUt1fy3O67gpstb7dTqwZM88Hc7s15G
 qXOuXjwbhGUDYRk2q8yUo1+Kp1Zb1yAoS0CRYAhQBJiyLEWiaRIhbC0s84PFZfc8+69rJEn/OCVt
 votaKmmo0BwAU/bUUBR2HxlhT+c4Lre3+JzWan76v27jpkvqHZtvkjWLqnnk8xtKjpHpyxvDjm/r
 mDdmGqw0y+qDJY93uTw5RZi188rHIEN+NTMVhBBlKBFnwEycT9Vp6x7B5fYiS5x706VNzsOkskoD
 RWPLr94mEKosec6WT15rK5xkzHbpABSdNQtn0VQTpGdgrOSdLWsIgpW0ASTjR1vsOdRRcpzqilBp
 Y7ksFSCy4sMWPrKcC+QHDWRWA7edGEF3uUs/VGPYCas7VaNSIZIUPHdgiIrK2UXH3/m+RSyt90Ny
 3GafkbLHVV2ARVN1gJMl5BlAwyw3TMaLIjk2yyeKxURTRR7r8thXjhzMKNF8BpYPYCYaYoN4aswo
 qTwAGme5HUZYWfa1dUTweAMlz7npkkYbuOSEw8Ck/YOZaZAKRjpZ8rwrF9U6IfvMWLmHbO/oR6j+
 0iAUpFPLZ6CUUxhomzAzAFCKXEatf2xaAJfW+W0/N5NelCq7Dp7G6wuUPr7eb5s6qZjdzXTOTzWS
 DEVKj7W8sSKX88j8WEKha3CC8YRZVG8NsGZhdR6QTJODnibJpClZbyvLQFUR5Vkx+X6wELg8PoSc
 nCYkbAtyMBwGKsTSEiFLG5wNYQ0mHS/FcNwsqYKlg2XQfryPUEV1MfCNwZzsy0xDRfL0Gx1cf3k1
 n7m1hqPdMX7XPoimSa5YMot5jVHGsVDVJO40M05jFDJQCAwTG8SypnBOc+UL1GIAM6zInbeva7ik
 WRH06k4GLZmnRXM53fbOQdweX8mxltUHc8dmAruqyrHhPhY0VNB2eJgfPX+C9mMjCCHYezhI7+AY
 G1bPpq5SJ2yCx5BleyLFAErHoJkRA+3ucnsQIl6cjE7ECzWiE/7yeH2I4eLj54R0sFIOa/PY5Jga
 nYPjaLpeEsAl9QFbVAhASkxVpX2glwc+1MoPft3Jw08eZzASx3JsvDcPD3OwM8qbh0e489omrr2o
 CtUw0JKibJ+4wBNhxkok1xVFLRl9sTLMywp1+xqq7kLI4mTQnrc7wFpTmAMRwtH2Km2dQ2glsnlX
 LqzNgS0VLCkZkUnGTYPvPnaYna/0MBZLZcGz780iFk/xzMsnOdQV5dB1Ldx1XTMtQRV/NH7W6H7K
 yJWMnKMWztNcsvQUFkIQiSUJqaLAUG2dHWZvV7Et53J77eMVx0yynECnooGic/j0ZMlxljaGsyUj
 pqoSV5PseLWX5/b28uQLnaSN6adl2jB5pzvKt598m5HxNPd/cC7L/W48E4kzeiQmVvZeZFYLi3Pr
 SxtKB08RgrbOwSmFQ4KGSl/J4xVFZesLh7KAobqyfdvuozzzZlfJ804NDoGUWKpK1DTZue8UL+w7
 zU9/e3xa8IQQeNw6zfVVuHSN6ESKR589ytceO8DLQybRyiCGrk7xUgp7oRZ23JuzRmOyrlxuG/Rq
 Jaew2+Olc2CcdYtn2REOIUBYXH9xLd/+1ZGi473+AF95/FXCHoX717WAkaa9a5QtO/fy6K4jNDQv
 KDnOtl/uJTY2QnVYRXEb6JrKjhe7SKSMacGrqQpyz4fWcP3qeTzz4tv8ZOfrjEYnefaVHlRNw3f3
 Mi4Ke3FNTKKm0tNEY6ZOYc5mhecdY+W2qxdU8Z1fHS0OOqoqvzt4mvvXtTrRDlscLq7zs7Sxgrd7
 RotBD83mP337t2zakrtpry9AQ8tCXO7SeeXKmjqeeq2TB29fyLLWWWz+lz0MRSaLtGW+C3bTNRfx
 xXsuJ2SOM7/xKnxencee3sNodJJfvnoSTdP4n/cuY56uoxgmokixWIVaOCm0N1OmdZk+Iy1sgrBY
 Uh9AThPFef34iK0EDOmYMwZYab74kYu4/1u/L67FC1Xg9QdJxGNO1MOFpp85TujxegkE5jNhhXnj
 WJL+0XT24fK3+T2eSDI2OUmFOUqTz+RTH12Nqig8/sxehkYn+O2bp6mpDPDZDU3Uuy20RKJAOxt2
 KrnTLiUB/seG5nt0TWnRtbNkp7JRmFzphsvj4bcHhxkaSxTd6ODoONdfPJvZYT3PlFGprw4ynpTs
 6xwumX7UdRe67kJR1YLv6quDjE8mi88RgjXLq5g7r4UTA2kGBwcRQqAoClJKFEVBVVWklKiqSt/Q
 GCnTZO7cGkJKkqA5yYpFc5C+EMd7hhmLpTjeO4E74GPl3DCKsJBWzqxKpC2ShtX2t7/s3KYA/Peb
 527SNaWl/LRmrnAIVadjOM2+zpGiB9M0nd5TvWy8sjWXKHfsurXL60F18caR/pK54/we9Ln4/B2r
 2HzfWl46eJKh6GTB9xYQDuhsWDuPvjGFEz19JBIJFEUp2dOGxZETo0QSBk3z5jDLK/GSYsGiVhKW
 5NDxfhIpi1NDcYI1FSyqdYEiUdJpEIKkaZEyrM6/fbbDBvDzNy9cKLHe5zljYp1chanIL11zMbe+
 isd+11H04Iqq8vK+o9x8eTOzw041gGVlr3HFolpuv3ohYwmT3uEJkoZZcP4Vi+bwmVtW8KV7V7Nq
 QRUuxeKuaxYgpORwz0jB8aoqWTm/kqrqSk70xRgcHLZl8TQgGhYc64kwFkvR0FxNZdBDONJNxF3J
 K291kkhZxBIm0ZhB4/zZ1AUV1EQchGAyYWCY1vb/82zHr1QAVRhJIWV5/qDIuFeG4zWkqAv5uGJh
 La8fGSg6vGZOI5u+8Rve+uYdkHYiJkbcrk/Boi7o4X/fezF8/FLGJk0O9YywuCFMwKPk1Twn7ZSA
 E5R48Ia5PHjTQsbiJodOjrK4oYKAR8PE4Hg0xs7aCvobGzjdewrLsqZltmEKnn/9JAiFj928jGbL
 4ic736B/eAKv14eUksNdYzz3ej+tH5pLo7DTrZYQCClHs0okpXhfEeZkeQHVrFdh5UV/Uzz4wUV8
 4uhgcTFOIERPzwgPfHM3j3xubS7Ams5cIw1SB6kSUCWrWjxAHJIOeJma50yZrhAg7HxGQFFY1Wwf
 b6VsxZMcG6Orq4tQKEwqmSIyOppVJFLKIhCTafjNnh6OnBhhMh7n+Mkofn8ARbErEEwku9/q55L5
 lTTW2vikTAthL952Eutqoi+RshXNWdMimZo607Adfqf04vLWMKsW1fBGCRbW1jXy45cOABaPfHat
 DZqZgpRpb0VeiUV2HDMvRG/kAqVOWMw+PleWYShwZDzJ13/0Gsc6TlJdO4eqqiqwLGKx2BllLELQ
 1Wf7yoFAKKt8Mt+PxQzeOjLKh2vzvDzL6iww/Ab++QYr5NXQlHITS44m1rygB8AVojemcdfXdzM2
 mSw6yzAMjh3az+p5YbY+tI7mas+U2j8xZUmClQeimYvqkFew7gBoKZIDkxb/+NN9PPHrw2i6G13X
 qa6pQVEURkdHSSWTTjBU5tywEozMtwZyXovGPdfP5zOLI6QMi0gsRfUnfy0KqrOEELvSplWmFib3
 gGYaTJuFdSHJwx+/vHQ2X1GYv/gi3uqeZOXnfsqXH99HZNLJk1imzcpMIVG2JwvDW06iyP47aXcr
 RXfC5GtbX+Op54/g8fpxu90oikI0EkFVFYKhEB6PB03TUFUVVVWzn0vty/9b1zWuXNHMB66aB0KQ
 Ni2EELuKytuEEG1pkzLBywcx8+BxSMe5duksHr5vdelQuKLQsmAJFXVz+esn9xG+6xEe+NZLPP16
 L5GYUeh7ZuaHlIVLJKawbzQt+VV7P6/s68fjDeByuVBVFV3XqaysRJGS8bEx3B4PLre7AKB8oPIB
 zf+8aO5sbrl2MS2ucVtUmDZWRUXmQopdadN6aCZLC7JCPlMhJW3hfutltSBW81fff63kmcHwLILh
 WURHh/nZG31sfe5tAFbOq6alxs/KubPAgrBfZ2XrLAA6+8bp7LejOKMTKdo6huiLJFixvIFLL2pF
 1V1IxYWUEikllZWVpFIpOjo6CQaDaJpGIplAUVXkFIUy3bSeUx3k1uuWcumSapRTfXYEx7KxKlWl
 v0sIQfqskempyxmc6Wcm7XyGw5JbL5sDXMnXn9zLWCx5RiABJsYinI5GOHE0xm8ODDtB2YQdmHV8
 a4/XV6Ddl86fw7Jlc3mn4zSWJdA0DUVRCIWCmKbByZM9BINBKioq6OrqQtd1fH4/hmkWeCdF9quU
 1M8O85Ebl3PdAgXfO7vANEjngju7KBU9GP7+rS+5VesqT1kLDPMX0zgKRXGB6gHdD5ofNC+9UZO/
 evR13jh8+oIuZ1AVyUff38Sp3tM89esD+AJhfD4fs2bNYnIyxokT3VRVVeL3+zlxohtFUaiurrZ9
 4XicVDptA+r1Zk0W2/2TLGip4YPXLOK65jh6fAgl2geWxWTSJJEw2ioe2HlJyXUiEuMnaVNcVX6G
 JU9rmukp0QbHUA54+d7nruHne7r5x2f20zs4fkEA/LMNLRw90skvf99BIDQLv99PMBhkYmKcnp6T
 VFVV4fG46ezswu12U1VVhabZJcfVlSEqQh66T/bRPzRCwB/A7/fj87q4dGkjd15dTas/ijo+hIyN
 ZqNPadNCKGJrqRgVAD1PfLYmkOjo8+pKmdM4fypnlnRlmOi2TRzVa7NSdYGi88L+Pn7+ynFeeOvE
 OQEnpWDDVXUkxgZ58teHCYUrCQQChEJBxsbG6erqoqamBo/HTXd3D263m9mzZ2en6pL5c7hx3XJW
 16XpGNN59sWDvLm/g+rqajasnc+1CzQCLhNl4BgiHc+aWmnDIpY0YCLREvrUc11MFwAc/eGHf6CJ
 9L3eGS22mQKicKLKGSAzXXE7+zXGEvBC+0neeOc0h7tHOHxi6KyjBLwaH/1AM3vbDvPimycJVVTh
 9/sJhYIMDAxw6tRp6uvrEQJOnuwlGAxSXV2dNYyXzJ/DHTet4JImHffwETBSTLorGYirqIpC3cQh
 pJmy3cYpbTJpkE6Z24P37bi9QJQU/cKk/9m0uNewQJFihiBmliWknfhZJgbo2G1KwgbS0AmoGreu
 ms2tV9RnTZI3jgyAEBzuHmEslkRTJaZpIaWgvtZNRdji0Z+9xot7e6mqmYPfb9t8o6Oj9PX1MWeO
 zbTu7m7C4TDNTY14vS6EEDTXVbDx+uWsaFBQYn222WUaeKMnaM6EqjDt4s8pLq1l2a9FQZFbpgsz
 F7Txx297QZFivXvGq9WnRm2UXNRG6g77dOezZu8XeW5Z1p2z7cG0NLCEhbQkfZEJvvjtHbzUdprq
 6loCgQA+n4/e3l76+/tpamoknU7T23uKqqoq5s9r5qb1F7GwtRZVWlQENRqVfpSJfpTxPmcFp0XB
 Sp5pEknxlIlhWLv8dz9dtOC6ZGVjWg99gVRkj2kxbbT57KH/TLDBmlJ2lrTlpFEKPDUvCSVRpMBQ
 JK+fGOIfHvs9r+3vo76+Ea/Xi6ZpnDrVy8DAAA0N9SQSSU6dOsXs2bNZvLCVG65ZysaVbjQlCpaB
 TEYRExFEpmjJohA8SteIm6aFYVqQMjaf6WmL2sQTt39DCvGQ+5zemZDnSWR93BwwNvMchmYKlTKf
 hZL1jU3dzbGRJA9/73e8eXCIOXX1+Hw+XC4XPT3dDA4O0tjYRCwWY2BggNraGhYuaGXjDSt5/6p6
 fIP77KJ2DGQs6tisZmnwpmnxpIlpWVt8d/7sL0qaU2c4d7MlrI1Jw7Qj1TNq+YvbrFy3nHcgmEZu
 miMKWJfbB6+civN333+FQx1jNDY14/V6kVLS2dnByMgozc1NTEzE6Ovro76+nqWLWrn5/Rdzw/wk
 7u5diFQ8V5toTY1pnr2l0haWsDqx2Hy2+VayxX764RVC0KYqcgZmTRmMzDfC8+uu87fAn/39fto6
 kjQ2NeN2uxECurq6iEQiNDY2EY1GGRwcpK6ujiWL5nLLBy7mgxd70IcOIWKDJco0yl/KYBgWKcPE
 sljpveOpaV+8c0Zqee94qh3BJsOy7HsR55qAn1q8aDksMHM9EzQ1U9mqrtMDMerqG3C73UgpOH68
 g0gkSnNzM9FolOHhYZqaGrl42XzuvnUVNy2x0IbfQSTGnEWYomRF2dm6aWG/8VKw6UzgnRVAAM/t
 T21DiE2pjDCdaT11QbdyvYAVDpjC6RiAgaIouFwuDMPg6NGjjI+P09TUxNDQMAMDA9TX13PR0vnc
 euOlXFvdhbvvLeSEY6Jkx5rZPRqWRcoO623y3P7UWV8+VpZwc9/25DYhxCYDHIdanAcbz1DQPWVH
 Y10llmXS0XGcRCJBS0szg4MDRKNRWlpaWLFsPnd+aBU31naijJ3MK648h44dqrLrhsQm921PlvX6
 u7K1g+vWJ7YJWGlhdaZNK1uccGG7VdA/dtsqvHqSZDJJfX0Dg4NDjI5GaGxs5LIVC/jwhsu4qiGG
 jJ0+r3EtIG1amFidAla6bn1i20yNtrJbcsedIRTXXwsz9aAQjrfyB3obtRlq5KXBOnY8f4Bnf/Mq
 sdgkjY2NXHLxfD6xYT5LqmIoI8dyRezM3FgwLcupq7S2WJa1Wb/liT/cK0ALVPzOu9YJITYD63NF
 6xcYSamQrl7KO7HZdBxoI6GECfh9LKtJUhsAJdJp11KfA3JmbjH8LsuyNmsbfvzuvIS2yGv55d3r
 UPRPCjN5L4hc1P9CtkzMMf/9Bpnq/Rks17ey3pqFlTa3o8gt6k2P/3Feg1w0tV97uFqJHLwXxCZg
 pZhq/p3PUGd6i9sZ4Mp3OJzPbWBtZXhiu3L3L94bL+IuKbueuzf7Knjsd+avP4O7eUHbFEx3kfcq
 eHn9D9+7r4IvA9QVzgK9Kf+MQLRwXv+MwE5wk/fPCCyLTnn9D9v5j/beb/8PD+dkSazNuOkAAAAA
 SUVORK5CYII=
 ====
